body {
    font-size: 12px;
}

p {
    font-size: 1rem;
}

.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big-font {
    font-size: 3rem;
}

.smooch-sans {
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: #555;
}

.material-symbols-outlined {
    /* important is a keyword in CSS to guarantee the value for the CSS property is applied. However, with great power comes great responsibility. Do not OVERUSE this superpower. */
    font-size: 3.1rem !important;
}



img:hover {
    filter: brightness(110%) saturate(30%) contrast(110%);
}

/*
3 ways to select HTML elements to apply styling:
1. Tag selector (least specific)
2. Class selector . syntax
3. ID selector (most specific) # syntax
*/

/* MEDIA QUERIES */

/* Alt + Shift + Arrow Up / Arrow Down */
/* Mobile-first approach means first catering for mobile users, then desktop / laptop users */

@media (min-width: 0px) and (max-width: 600px) {
    :root {
        font-size: 16px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin: 8px;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    h1 {
        margin-bottom: 0;
    }
}

@media (min-width: 601px) {
    :root {
        font-size: 20px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .container {
        margin: 8px;
        display: flex;
        flex-direction: row;
    }

    img {
        width: 480px;
        object-fit: cover;
    }
}